<div class="container">
  <div class="topbar content-center pad-10">
    <div class="content flex spaces-between">
      <img src="https://open-frontend-bucket.s3.amazonaws.com/interviews/001/logo.png" alt="time-tracker" height="40px">
      <!--  -->
      <div class="content-center">Total Time Spend &nbsp; &nbsp; &nbsp; <b>{{totalTime}} Seconds</b></div> 
    </div>

  </div>
  <div class="content flex column flex-gap-10 mt-10 height-80 pos-relative">
    <div class="card" *ngFor="let task of tasks; let taskIndex = index">
      <div class="content">
        <div class="task spaces-between content-center ">
          <p style="width: 70%">{{task.name}}</p>
          <p class="heading primary">{{ task.timeSpend | time  }}</p>
          <button class="primary-button" (click)="startTimer(task)" *ngIf="!task.currentStatus">start</button>
          <button class="warning-button" (click)="stopTimer(task)" *ngIf="task.currentStatus">stop</button>
          <button class="rounded" (click)="onRemovingTask(taskIndex)">X</button>
        </div>
        <p class="heading">History</p>
        <p *ngIf="task.taskHistory.length === 0">No History Found, Click on start button to track the timer</p>
        <div class="task-history" *ngFor="let history of task.taskHistory; let historyIndex = index">
          <p class="history">
            <span *ngIf="history.startTime">
              Started the timer at {{history.startTime | date:'dd/MM/yyyy hh:mm:ss'}}
            </span>
            <span *ngIf="!history.stopTime">
              (Active)
            </span>
            <span *ngIf="history.stopTime">
              & Stopped the timer at {{history.stopTime | date:'dd/MM/yyyy hh:mm:ss'}}
            </span>
          </p>
        </div>
      </div>
    </div>
    <button class="rounded primary-button fixed" (click)="openTaskModal()">+</button>
  </div>
</div>

<div class="modal" [class.open]="taskModal ">
  <div class="modal-overlay" (click)="onOverlayClick($event)">
    <div class="modal-content">
      <label>Enter the Task Name</label>
      <input [(ngModel)]="taskName">
      <button class="primary-button" (click)="saveTask()" style="width: 100px;">Save</button>
    </div>
  </div>